.header-container {
    background-color: black;
    height: 60px;
    color: #fff;
    padding-top: 20px;

    .logo-container {
        float: left;         
    }

    ul {
        list-style: none;
        float: right;

        li {
            display: inline-block;
            padding-left: 15px;
        }
    }
}