.promise-container {
    padding-top: 20px;

    .tile-container { 
        div {                        
            .tile {
                width: 150px;
                height: 230px;
                margin: 0 15px 30px 0;

                @media screen and (min-width: 768px) {
                    height: auto;
                }
                
            } 
        }            
    }   
}